*{
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.menu{
    display: none;
}

.site img {
    width: 100px; /* ロゴ画像の幅を指定 */
    height: auto; /* 高さを自動調整 */
    
}

.sample-slider{
    width:100%;
    overflow: hidden;
    margin-top: 50px;
    
    
}
.sample-slider img{
    width: 100%;
    object-fit: cover; /* 写真を枠に収める */
    position: relative;
    height: 600px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #999; /* ドットの色 */
    opacity: 1; /* ドットの透明度（1で不透明） */
    margin: 0 12px; /* ドット間のスペース */
    border-radius: 50%; /* 丸くする */
}

/* アクティブなスライドのドット */
.swiper-pagination-bullet-active {
    background-color: #BEA574; /* アクティブなドットの色 */
}

.swiper-button-next,
.swiper-button-prev {
    background: none; /* デフォルトの背景を削除 */
    border: none; /* デフォルトのボーダーを削除 */
    width: 60px; /* ボタンのサイズを設定（必要に応じて調整） */
    height: 60px; /* ボタンのサイズを設定（必要に応じて調整） */
    background-color: white;
    color: rgb(245, 237, 132);
    border-radius: 50%;
}

.swiper-button-prev::after{
    font-size: 30px;
}

.swiper-button-next::after{
    font-size: 30px;
}

.nav2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.nav{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    
}


header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BEA574;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* ヘッダーを前面に表示 */
    height: 50px;
    
    
}

.info{
    padding-top: 40px;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    
}

.info p{
    font-size: 1.5rem;
    text-align: center;
}

span{
    color: red;
    font-size: 60px;
}

.schedule{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}


.schedule p{
    font-size: 16px;
    padding-top: 70px;
    padding-bottom: 20px;
}

button{
    
    width: 240px;
    height: 40px;
    display: inline-block;
    transition: none; /* アニメーション効果を無効化 */
    
    
}

.day{
    border: none;
    text-align: center;
    transition: none; /* アニメーション効果を無効化 */
    
}

.tab-container{
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 全体に影をつける */
   
    
    

}

.schedule-header{
    display: flex;
    width: fit-content;
    border-bottom: solid 2.5px #BEA574;
    margin: 0 auto;
    
    

}


.textbox{
    width: 700px;
    height: 90px;
    margin: 0 auto;
    display: block;
    overflow: scroll;
    text-overflow: ellipsis;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    text-align: left;
    transition: none; /* アニメーション効果を無効化 */
    
    
}

.access{
    width: 100vw;
    text-align: center;
    padding-top: 100px;
}

#accesses{
    padding-top: 70px;
}

iframe{
    width: 53vw;
}


label{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin: 0 auto;
    
}

.maintitle{
    margin-left: 28%;
    padding-bottom: 5px;
    margin-top: 5px;
}

.subtitle{
    font-size: 12px;
}

.product {
    padding-top: 50px;
    
}

.member {
    text-align: center;
    padding-bottom: 20px;
}

.txtbox{
    width: 22vw;
    height: 3vh;
    
    display: block;
    margin: 0 auto;
    
}

.subtitle1{
    font-size: 12px;
    color: gray;
}

#submitButton{
    background-color: #BEA574;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 22vw;
    height: 5vh;
    font-size: 1.2rem;
    margin-bottom: 50px;
    opacity: 1; /* デフォルトでは完全に表示 */
    cursor: pointer; /* 有効時のカーソル */
}

.error{
    color: red;
    font-size: 0.8em;
    text-align: left;
    padding-left: 28%;

}

#submitButton.disabled {
    opacity: 0.5; /* 非活性時の透明度 */
    cursor: not-allowed; /* 非活性時のカーソル */
}

footer {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BEA574;
    width: 100%;
   
}

.footer-img img {
    width: 100px; /* 画像の幅 */
    height: auto; /* 自動で高さを調整 */
    
}
.footer-img {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 画像を水平方向に中央に配置 */
    align-items: center; /* 垂直方向にも中央に配置 */
}



.day.active#one {
    background-color: #BEA574;
    transition: 0.7s;
    
}

.day.active#two {
    background-color: #BEA574;
    transition: 0.7s;
   
}

.day.active#three {
    background-color: #BEA574;
    transition: 0.7s;
    
}








@media screen and (max-width: 755px){

    .sample-slider {
        width: 100%;
        
    }
    
    /* スライド画像の幅を調整 */
    .sample-slider img {
        width: 100%; 
        height: 300px;
    }

    /* ドットの大きさを調整 */
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 8px;
    }

    /* ナビゲーションボタンの大きさを調整 */
    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
    }

    .swiper-button-prev::after{
        font-size: 25px;
    }
    
    .swiper-button-next::after{
        font-size: 25px;
    }
    

    
    

   

    .site {
        background-image: url('../img/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px; /* 小さな画面用の幅 */
        height: 50px; /* 小さな画面用の高さ */
        margin-left: -50px;
    }
    
    .textbox {
        width: 400px;
    }
    .txtbox {
        width: 40vw;
    }
    .maintitle{
        margin-left: 10%;
    }
    button{
        width: 140px;
    }
    iframe{
        height: 35vh;
        width: 60vw;
    }

   
    
    .nav2{
        display: none;
    }

    .hamberger-wrap {
        position: absolute;
        left: 88%;
        margin-top : 5px;
    }
    .bar {
        display: block;
        width: 6vw;
        height: 4px;
        margin-bottom: 7px;
        background-color: rgb(255, 255, 255);
        transition: 0.4s;
    }
    .hamberger-wrap.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamberger-wrap.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamberger-wrap.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .menu {
        display: none;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        z-index: 4;
        background-color: #BEA574;
        
    }
    
    .menu ul {
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        border-top: 1px solid white;
        width: 100vw;
    }
    
    .menu li {
        overflow: hidden;
    }
    
    .menu li a {
        text-decoration: none;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        
        padding: 10px 0;
        border-bottom: 1px solid white;
        z-index: 4;
    }


    .accordion-toggle {
        transition: all 0.3s ease;
    }

    .error{
        color: red;
        font-size: 0.6em;
        text-align: left;
        padding-left: 10%;
    
    }
    
}

@media screen and ( max-width: 460px){

    
    .sample-slider {
        width: 100%;
        
    }

    /* スライド画像の幅を調整 */
    .sample-slider img {
        width: 100%; 
        height: 250px;
    }

    /* ドットの大きさをさらに調整 */
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 6px;
    }

    /* ナビゲーションボタンの大きさをさらに小さくする */
    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .swiper-button-prev::after{
        font-size: 20px;
    }
    
    .swiper-button-next::after{
        font-size: 20px;
    }

    
    
    .txtbox {
        width: 50vw;
    }
    .maintitle {
        margin-left: 2%;
    }
    .nav2{
        display: none;
    }
    .info p{
        font-size: 1rem;
    }
    span{
        font-size: 1.4rem;
    }
    button{
        width: 90px;
    }
    .textbox {
        width: 250px;
    }
    iframe{
        height: auto;
    }


    .hamberger-wrap {
        position: absolute;
        left: 85%;
        margin-top : 5px;
    }
    .bar {
        display: block;
        width: 10vw;
        height: 4px;
        margin-bottom: 7px;
        background-color: rgb(255, 255, 255);
        transition: 0.4s;
    }
    .hamberger-wrap.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamberger-wrap.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamberger-wrap.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        text-align: center;
        width: 100%;
        max-width: 600px;
    }
    
    .menu ul {
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        border-top: 1px solid white;
    }
    
    .menu li {
        overflow: hidden;
    }
    
    .menu li a {
        text-decoration: none;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        background-color: #BEA574;
        padding: 15px 0;
        border-bottom: 1px solid white;
        z-index: 4;
    }

    .accordion-toggle {
        transition: all 0.3s ease;
    }

    .error{
        color: red;
        font-size: 0.5em;
        text-align: left;
        padding-left: 1%;
    
    }

    




}


